<header>

<script type="text/javascript" src="https://raw.github.com/snaptortoise/konami-js/master/konami.js"></script>
<script type="text/javascript">

	var konami = new Konami("<%= secret_url %> ");
	
</script>

    <% logo = image_tag("Street_Fighter_IV_Logo.png", :alt => "Street Fighter 4", :class => "round") %>
	<%= link_to logo, root_path %>

<!-- Remove Nav header to put it on the left of section tag -->
<!--     <nav class="round">
      <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Description", description_path %></li>
        <li><%= link_to "Stream", stream_path %></li>
      </ul>
    </nav>
 -->

</header>